$greenColor: #84AC54;
$orangeColor: #D25842;
$redColor: #E61E5C;
$purpuleColor: #426393;
$lightGreenColor: #3FBE90;
$mintColor: #5AC1CF;
$mintGreenColor: #62D2BF;

.TariffCard {
    display: flex;
    flex-direction: column;

    align-items: center;

    text-align: center;

    padding: 24px;

    box-sizing: border-box;

    border-radius: 8px;

    color: #fff;

    &_color {
        &_green {
            background-color: $greenColor;

            .TariffCard-Title {
                color: $greenColor;
            }

            .TariffCard-Button.Button:hover {
                color: $greenColor;
            }
        }

        &_red {
            background-color: $orangeColor;

            .TariffCard-Title {
                color: $orangeColor;
            }

            .TariffCard-Button.Button:hover {
                color: $orangeColor;
            }
        }

        &_blue {
            background-color: $redColor;

            .TariffCard-Title {
                color: $redColor;
            }

            .TariffCard-Button.Button:hover {
                color: $redColor;
            }
        }

        &_purpule {
            background-color: $purpuleColor;

            .TariffCard-Title {
                color: $purpuleColor;
            }

            .TariffCard-Button.Button:hover {
                color: $purpuleColor;
            }
        }

        &_darkBlue {
            background-color: $lightGreenColor;

            .TariffCard-Title {
                color: $lightGreenColor;
            }

            .TariffCard-Button.Button:hover {
                color: $lightGreenColor;
            }
        }

        &_mint {
            background-color: $mintColor;

            .TariffCard-Title {
                color: $mintColor;
            }

            .TariffCard-Button.Button:hover {
                color: $mintColor;
            }
        }

        &_mintGreen {
            background-color: $mintGreenColor;

            .TariffCard-Title {
                color: $mintGreenColor;
            }

            .TariffCard-Button.Button:hover {
                color: $mintGreenColor;
            }
        }
    }

    &-Title {
        display: inline-block;

        padding: 6px 12px;

        background-color: #fff;
        border-radius: 4px;
        font-weight: 600;

        text-transform: uppercase;

        margin-bottom: 40px;
    }

    &-Name {
        margin-bottom: 8px;

        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-Speed {
        margin-bottom: 4px;

        font-size: 20px;
    }

    &-Desc {
        margin-bottom: 36px;

        max-width: 250px;

        opacity: .6;
    }

    &-Logo {
        height: 100px;
        width: 75px;

        margin-bottom: 18px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &_type {
            &_car {
                width: 130px;
            }

            &_aircraft {
                width: 90px;
            }

            &_rocket {
                width: 100px;
            }
        }
    }

    &-Cost {
        margin-bottom: 24px;
    }

    &-Button {
        width: 100%;
    }
}