$greenColor: #84AC54;
$redColor: #D25842;
$blueColor: #75BAF9;

.TariffCard {
    display: flex;
    flex-direction: column;

    align-items: center;

    text-align: center;

    padding: 24px;

    box-sizing: border-box;

    border-radius: 8px;

    color: #fff;

    &_color {
        &_green {
            background-color: $greenColor;

            .TariffCard-Title {
                color: $greenColor;
            }

            .TariffCard-Button.Button:hover {
                color: $greenColor;
            }
        }
        &_red {
            background-color: $redColor;

            .TariffCard-Title {
                color: $redColor;
            }

            .TariffCard-Button.Button:hover {
                color: $redColor;
            }
        }
        &_blue {
            background-color: $blueColor;

            .TariffCard-Title {
                color: $blueColor;
            }

            .TariffCard-Button.Button:hover {
                color: $blueColor;
            }
        }
    }

    &-Title {
        display: inline-block;

        padding: 6px 12px;

        background-color: #fff;
        border-radius: 4px;
        font-weight: 600;

        text-transform: uppercase;

        margin-bottom: 40px;
    }

    &-Name {
        margin-bottom: 8px;

        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-Speed {
        margin-bottom: 4px;

        font-size: 20px;
    }

    &-Desc {
        margin-bottom: 36px;

        max-width: 250px;

        opacity: .6;
    }

    &-Logo {
        height: 100px;

        margin-bottom: 18px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &_type {
            &_car {
                width: 130px;
                background-image: url('./assets/car.png');
            }

            &_aircraft {
                width: 90px;
                background-image: url('./assets/aircraft.png');
            }

            &_rocket {
                width: 100px;
                background-image: url('./assets/rocket.png');
            }
        }
    }

    &-Cost {
        margin-bottom: 24px;
    }

    &-Button {
        width: 100%;
    }
}