$actionColor: #f48f24;

.MorePage {
    &-List {
        border: 1px solid #e1e3ea;

        max-width: 900px;
        border-radius: 5px;
    }

    &-Item {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;

        padding: 24px 32px;

        &:not(:last-child) {
            border-bottom: 1px solid #e1e3ea;
        }

        &:hover {
            background-color: #f1f2f6;
        }

        &Name {
            flex: 1 1 auto;

            font-size: 18px;
        }

        &Cost {
            flex: 0 0 100px;
            margin-right: 30px;

            & .Price {
                justify-content: flex-end;
            }
        }
    }

    &-Button.Button {
        border-color: $actionColor;
        color: $actionColor;

        &:hover {
            background-color: $actionColor;
            color: #fff;
        }
    }

    &-Container {
        flex: 0 0 260px;
        display: flex;
    }

}

@media screen and (max-width: 570px) {
    .MorePage {
        &-Container {
            flex: 0 0 100px;

            flex-direction: column;
        }

        & .Price {
            justify-content: center;
        }

        &-Item {
            padding: 24px;
        }

        &-ItemCost {
            flex: 1 1 auto;

            margin-bottom: 24px;
            margin-right: 0;
        }
    }
}