.Content {
    margin: 40px auto;
    max-width: 1360px;

    box-sizing: border-box;

    &_withBorder {
        padding: 40px;

        border: 1px solid #e1e3ea;
        border-radius: 5px;
    }
}

@media screen and (max-width: 1440px) {
    .Content {
        padding: 0 40px;
    }
}

@media screen and (max-width: 455px) {
    .Content {
        padding: 0 20px;
    }
}