.Header {
    position: sticky;

    top: 0;
    height: 80px;

    padding: 0 12px;

    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.15);

    z-index: 1;
}