.Footer {
    display: flex;

    max-width: 1360px;
    margin: 0 auto;

    padding: 40px;

    background-color: #eeeff3;
    border-radius: 5px 5px 0 0;

    box-sizing: border-box;


    display: flex;
    flex-direction: row;

    &-LinkList {
        flex: 1 1 auto;
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &-Link {
        display: block;
        margin: 12px 0;

        &_main {
            text-transform: uppercase;
            font-weight: 700;

            margin-bottom: 20px;
        }
    }

   &-CompanyLogo {
        width: 230px;
        height: 85px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('assets/logo.png');
        margin-bottom: 8px;
   }

   &-Copyryting {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 230px;
        font-size: 12px;
        align-items: center;
   }
}

@media screen and (max-width: 750px) {
    .Footer {
        flex-wrap: wrap;

        &-LinkList {
            margin-bottom: 24px;
        }

        &-Copyryting {
            margin-top: 32px;
            flex: 1 1;
        }
    }
}
