.Footer {
    max-width: 1360px;
    margin: 0 auto;

    padding: 40px;

    background-color: #eeeff3;
    border-radius: 5px 5px 0 0;

    box-sizing: border-box;


    display: flex;
    flex-direction: row;

    &-LinkList {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &-Link {
        display: block;
        margin: 12px 0;

        &_main {
            text-transform: uppercase;
            font-weight: 700;

            margin-bottom: 20px;
        }
    }
}