.Card {
    padding: 24px 12px;

    text-align: center;

    display: inline-block;

    border: 1px solid #e1e3ea;

    border-radius: 5px;

    &-Icon {
        width: 50px;
        height: 50px;

        margin-bottom: 8px;
    }
}
