.Icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;

    height: 16px;
    width: 16px;

    &_type {
        &_logo {
            background-image: url('assets/logo.svg');
        }
    }
}