.Link {
    display: inline-block;

    font-size: 16px;

    cursor: pointer;
    color: #383838;

    text-decoration: none;

    &_view_default {

        &:hover {
            color: #1b6fb7;
            text-decoration: underline;
        }
    }
}